<ol class="breadcrumb">
    <li class="breadcrumb-item active"><%= name %></li>
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="/posts/add">New Post</a></li>
    <li class="breadcrumb-item"><a href="/users/logout">Logout</a></li>

  </ol>
  