<%- include('partials/nav'); %>

<form action="/posts" method="POST">
    
      
    
      <div class="form-group">
        <label for="exampleTextarea">Your Post</label>
        <div class="form-group">
          <input
            id="post"
            name="post"
            class="form-control"
            placeholder="your post"
          />
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Post</button>

  </form>